* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Roboto Slab", serif;
}

/* DONG THU 1 : MENU :  */
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  border-bottom: 2px solid black;
}

a.navbar-brand.dong1trai {
  font-size: 36px;
  font-weight: bold;
}

img.anhlogo {
  width: 80px;
  border-radius: 40px;
}

a.nav-link u {
  color: #f70d18;
  font-size: 20px;
  font-weight: bold;
}
span.textlogo1 {
  color: black;
}
span.textlogo2 {
  color: #f70d18;
  margin-left: -10px;
}

a.navbar-brand.dong1trai:hover {
  text-decoration: underline;
  color: #f70d18;
}
a.navbar-brand.dong1trai:hover img.anhlogo {
  padding: 2px;
  border: 2px dashed #f70d18;
}

span.chuden {
  color: black;
  font-size: 12px;
}

li.nav-item {
  margin-left: 35px;
}

ul.navbar-nav li.nav-item:first-child {
  margin-left: 5px;
}

a.nav-link:hover u,
a.nav-link:hover u span {
  color: white;
  text-shadow: 2px 2px 4px #000000, 0 0 4px red;
}

a.nav-link:active u,
a.nav-link:active u span {
  color: #f70d18;
  text-shadow: 2px 2px 4px #000000;
}
/* HET - DONG THU 1 */

/* DONG THU 2 */
img.phan2 {
  width: 100%;
  border-bottom: 2px solid black;
}
/* HET - DONG THU 2 */

/* DONG THU 3 */
h1.phan3 {
  padding: 20px;
  text-align: center;
  color: white;
  text-shadow: 4px 2px 8px #000000, 0 0 4px red;
  text-decoration: underline;
  font-size: 60px;
  margin-bottom: 50px;
}
h1.phan3:hover {
  text-decoration: none;
}

/* HET - DONG THU 3 */

/* DONG THU 4 */
.phan4.gioithieu.muctieu {
  margin-bottom: 50px;
}
.phan4.gioithieu.muctieu img.anhthe {
  width: 100%;
  max-height: 310px;
}

.phan4.gioithieu.muctieu h3 {
  margin-bottom: 30px;
}
.phan4.gioithieu.muctieu h3 u {
  color: #f70d18;
  font-size: 40px;
  font-weight: bold;
}
.phan4.gioithieu.muctieu h3 u span {
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.phan4.gioithieu.muctieu ul li {
  list-style-type: none;
  color: black;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 12px;
}
span.dauchamdo {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 10px;
  background-color: #f70d18;
}
/* HET - DONG THU 4 */

/* DONG THU 5 */
.phan5 {
  margin-bottom: 50px;
  height: 500px;
  color: white;
}
.phan5 ul li {
  list-style-type: none;
}
.phan5 h3 {
  padding: 20px 0px;
}
.phan5 h3 u {
  color: black;
  text-shadow: 2px 2px 4px white, 0 0 4px red;
  font-size: 30px;
  font-weight: bold;
}
.phan5 h3 u span {
  color: white;
  text-shadow: 2px 2px 4px #000000, 0 0 4px white;
  font-size: 40px;
  font-weight: bold;
}
.phan5 ul li {
  list-style-type: none;
  color: white;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 12px;
}
span.dauchamtrang {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 10px;
  background-color: white;
}
.phan5 .hoctap {
  background-color: #c63a3d;
}

.phan5 .lamviec {
  background-color: #ce3f45;
}
/* HET - DONG THU 5 */

/* DONG THU 6 */
/* DONG THU 6 phan 1 : TIÊU ĐỀ */
.phan6.tieude {
  text-align: center;
}
.phan6.tieude h3 {
  padding: 20px 0px;
}
.phan6.tieude h3 u {
  color: black;
  text-shadow: 2px 2px 4px white, 0 0 4px red;
  font-size: 30px;
  font-weight: bold;
}
.phan6.tieude h3 u span {
  color: white;
  text-shadow: 2px 2px 4px #000000, 0 0 4px white;
  font-size: 40px;
  font-weight: bold;
} /* hết - DONG THU 6 phan 1 : TIÊU ĐỀ */
/* DONG THU 6 phan 2 : NỘI DUNG - DÀN TRANG*/
.phan6.kynang {
  width: 992px;
  margin: auto;
  /* DÀN TRANG = FLEX */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.phan6.kynang article.ngonngu {
  border: 1px solid black;
  background-color: white;
  margin: 10px;
  /*	DINH VI	*/
  position: relative;
  text-align: center;
  width: 200px;
  height: 180px;
}

/*	HOVER - HIỆU ỨNG	*/
.phan6.kynang article.ngonngu:hover div.gradient {
  opacity: 1;
}
.phan6.kynang article.ngonngu:hover h3.chuto {
  top: 40%;
  opacity: 1;
  text-decoration: underline;
}
.phan6.kynang article.ngonngu:hover p.chunho {
  top: 60%; /*dịch chuyển*/
  transform: scale(1); /*làm to*/
  opacity: 1; /*hiện ra*/
}
.phan6.kynang article.ngonngu:hover div.vien {
  opacity: 1;
}

/*  */
.phan6.kynang article.ngonngu img {
  /*	DINH VI	*/
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;

  width: 100%;
  height: 100%;
  /* margin: 10px; */
  padding: 5%;
}
.phan6.kynang article.ngonngu div.gradient {
  /*	DINH VI	*/
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;

  width: 100%;
  height: 100%;
  /*	GRADIENT	*/
  background-image: linear-gradient(
    45deg,
    white,
    black,
    #ce3f45,
    black,
    #ce3f45,
    black,
    white
  );
  /*	BAN DAU AN DI + Ở DƯỚI*/
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.2s;
}
.phan6.kynang article.ngonngu h3.chuto {
  /*	DINH VI	*/
  position: absolute;
  top: 60%;
  /*left: 0%;*/
  z-index: 2;

  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 100%;

  /*	BAN DAU AN DI + Ở DƯỚI = top */
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.4s;
}
.phan6.kynang article.ngonngu p.chunho {
  /*	DINH VI	*/
  position: absolute;
  top: 80%;
  z-index: 3;

  color: white;
  font-size: 14px;
  margin: 30px;

  /*	BAN DAU AN DI + THU NHỎ	+ Ở DƯỚI = top */
  opacity: 0;
  transform: scale(0.2);
  transition: 0.5s;
  transition-delay: 0.6s;
}
.phan6.kynang article.ngonngu div.vien {
  /*	DINH VI	*/
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 4;

  width: 90%;
  height: 90%;
  margin: 5%;

  border: 5px solid #ce3f45;
  /*	BAN DAU AN DI */
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.6s;
} /* hết - DONG THU 6 phan 2 : nội dung */

/* HET - DONG THU 6 */

/* DONG THU 7 */

/* HET - DONG THU 7 */

/* DONG THU 8 */

/* HET - DONG THU 8 */

/**************************** RESPONSIVE *****************************/
/* BUTTON - LOGO */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  li.nav-item {
    justify-content: center;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
}

/* RESPONSIVE */

@media (min-width: 768px) and (max-width: 991px) {
  /* MENU */
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
  }
  .collapse:not(.show) {
    display: inline-block !important;
  }

  /* BUTTON - MENU */
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  li.nav-item {
    margin-left: 10px;
  }
  a.navbar-brand.dong1trai {
    font-size: 30px;
  }
  .navbar {
    justify-content: center;
  }
  .navbar-expand-lg .navbar-nav {
    justify-content: center;
  }
  h1.phan3 {
    font-size: 40px;
  }
  /* DONG THU 6 phan 2 : NỘI DUNG - DÀN TRANG*/
  .phan6.kynang {
    width: 100%;
  }
}

/* RESPONSIVE */

/* RESPONSIVE */
@media (max-width: 768px){
  /* MENU */
  .navbar-nav {
    background-color: #e8eaea;
    text-align: center;
  }
  li.nav-item {
    margin-left: 0px;
  }
  li.nav-item:hover {
    background-color: #ce3f45;
    border: 1px dashed white;
  }

  /* DONG 2 */
  img.anhlogo {
    width: 60px;
    border-radius: 30px;
  }
  a.navbar-brand.dong1trai {
    font-size: 24px;
  }
  span.textlogo2 {
    margin-left: -5px;
  }
  /* DONG 3 */
  h1.phan3 {
    font-size: 30px;
  }

  /* DONG THU 4 */
  .phan4.gioithieu.muctieu img.anhthe {
    max-height: none;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
  }
  .phan4.gioithieu.muctieu ul li {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 0px;
  }

  /* DONG THU 5 */
  .phan5 ul li {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 0px;
  }
    /* DONG THU 6 phan 2 : NỘI DUNG - DÀN TRANG*/
  .phan6.kynang {
    width: 100%;
    justify-content: space-around;
  }
  .phan6.kynang article.ngonngu {
    width: 180px;
    height: 160px;
  }
  
}

/* RESPONSIVE */
@media (max-width: 567px) {
 
}
